#audios{
    background: #fff;
    width: 700px;
    min-height: 600px;
    margin-top: 30px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
@media (max-width: 8000px) {
    #audios{
        margin-left: 30%;
    }
}
@media (max-width: 2000px) {
    #audios{
        margin-left: 30%;
    }
}
@media (max-width: 1300px) {
    #audios{
        margin-left: 300px;
    }
}
#audios audio{
    width: 700px;
}
.outtaHere{
  display:none;
  position:absolute;
  left:-10000px;
}

label[for="upload"] {
    margin-top: 7px;
    margin-left: 250px;
    position: relative;
	display: inline-block;
	cursor: pointer;
    padding: 5px;
    line-height: 15px;
    text-align: center;
    width: 141px;
    height: 16px;
	background: #42aaff;
    border-radius: 2px;
	color: #fff;
    margin-bottom: 7px;
}
label[for="upload"]:active{
    background: #82c4fb;
}
.back_to_profile{
    position: relative;
    padding: 10px 0;
    margin-left: 250px;
}
.back_to_profile button{
    width: 250px;
    height: 25px;
    background: #42aaff;
    border: 1px solid #42aaff;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.back_to_profile button:active{
    padding-top: 1px;
}
#songPlay{
    
}
#songPause{
    
}
#songStop{
    background: url(/img/audioplayer/stop1.png);
    width: 25px;
    height: 25px;
}
#songPlayPause{
    border-radius: 50%;
    background: #42aaff url(/img/audioplayer/play1.png) no-repeat 7px 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/*Volume Up Button*/
#volumeUp{

}
/*Volume Down Button*/
#volumeDown{

}
#songTime{
    position: absolute;
    margin-left: 455px;
    margin-top: -25px;
}
#songName{
    margin-left: 30px;
    margin-top: -22px;
}
/*Volume Meter*/
#volumeMeter{
    width: 100px;
    height: 4px;
    background-color: #86c5f8;
    margin-left: 540px;
    margin-top: -4px;
    cursor: pointer;
}
/*Volume Location Meter*/
#volumeStatus{
    height: 4px;
    background-color: #42aaff;
}
/*Song location slider*/
#songSlider{
    width: 500px;
    height: 4px;
    background-color: #86c5f8;
    margin-left: 30px;
    cursor: pointer;
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 4px;
    background-color: #42aaff;
}