body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
li{
    list-style: none;
}
#header{width: 100%;}
@media screen and (max-width:960px){
    #header{
        height: 40px;
    }
    .header_menu{
        height: 20px;
        width: 21px;
        padding: 10px;
        cursor: pointer;
    }
    .header_menu:active,.header_buttonmsg:active{
        background: #2a9efc;
    }
    .header_buttonmsg{
        height: 20px;
        width: 21px;
        padding: 10px;
        margin-left: 1px;
        cursor: pointer;
        margin-left: 95%;
        margin-top: -28px;
    }
    .header_menu_icon{
        background: url(/mobile/img/menu.png);
        width: 20px;
        height: 18px;
    }
    .header_msg_icon{
        background: url(/mobile/img/msg.png);
        width: 20px;
        height: 20px;
    }
    .menu_user{
        background: #2a9efc;
        height: 35px;
        padding: 5px;
        color: #fff;
    }
    .menu_user a{
        color: #fff;
    }
    .header_username{
        color: #fff;
        font-size: 15px;
        margin-left: 48%;
        margin-top: -30px;
    }
    .header_menu_list{
        width: 200px;
        height: auto;
        margin-left: -10px;
        margin-top: 12px;
        position: fixed;
    }
    .user_avatar img{
        border-radius: 15px;    
    } 
    .user_names{
        margin-left: 35px;
        font-size: 13px;
        margin-top: -30px;
        font-weight: bold;
    }
    .user_sz{
        font-size: 9px;
        margin-left: 35px;
    }
    .menu_list{
        background: #fff;
    }
    .menu_list ul li{
        color: #2a9efc;
        padding-left: 35px;
        height: 30px;
        line-height: 30px;
    }
    .menu_list ul li:hover{
        background: #f5f6f8;
    }
    #account{
        width: 100%;
    }
    .account_names{
        color: #000;
        background: #f2f0ef;
        height: 60px;
        padding-left: 30px;
    }
    .account_avatar img{
        border-radius: 25px;
    }
    .account_name,.account_sz,.account_status{
        margin-left: 60px;
    }
    .account_name{
        margin-top: -50px;
    }
    .account_sz,.account_status{
       font-size: 10px; 
    }
    .account_title{
        font-size: 12px;
        background: #2a9efc;
        color: #fff;
        padding: 5px;
        padding-left: 30px;
    }
    .account_edit{
        position: absolute;
        font-size: 12px;
        color: #fff;
        margin-top: -25px;
        margin-left: 70%;
        padding: 5px;
        padding-left: 30px;
    }
    .account_edit a{
        color: #88c9ff;
    }
    .account_information{
        font-size: 12px;
        color: #f2f0ef;
        padding-left: 30px;
    }
    .account_information ul li{
        padding-top: 5px;
    }
    a{
        color: #42aaff; 
    }
    a:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .account_points{
        font-size: 12px;
        color: #fff;
        padding-top: 5px;
    }
    .account_points a{
        padding-left: 30px;
        color: #fff;
    }
    .account_points a:hover{
        text-decoration: none;
    }
    .account_points ul{
        margin-top: -5px;
    }
    .account_points a li{
        padding: 5px 5px 5px 28px;
        margin-top: -15px;
    }
    .account_points a li:hover{
        background: #dbdbdb;
    }
}
@media screen and (max-width:540px){
    .header_buttonmsg{
        margin-left: 90%;
    }
    .account_edit{
        position: absolute;
        font-size: 12px;
        color: #fff;
        margin-top: -25px;
        margin-left: 60%;
        padding: 5px;
        padding-left: 30px;
    }
}